*{
    margin: 0;
    padding: 0;
}
.first{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(Bg.png);
    
}
 a{
    font-size: medium;
   color: whitesmoke !important;
   
    
}
.unordered-list ul li{
    display: inline;
}


.myclass{
    font-size: x-large;
    font-weight: bold;
    margin-top: 8em;
    font-family: 'Courier New', Courier, monospace;
}
.divider{
display: flex;
justify-content: center;
color: white;
}
.background{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    
    

}
.text1{
    font-size: larger;
    color:goldenrod
}
.background2{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(bg5.png);
    
}
.text2{
    font-size: larger;
    color: white;
}
.main1{
    padding-bottom: 2em;
    box-shadow: 0 4px 8px 0 rgba(1,1,1,0.5);
  transition: 0.3s;
  width: 30em;
  height: 30em;
  margin:0 auto;
  background-color:rgba(1,1,1,0.5) ;
  border-radius: 25px;
}
.text3{
    font-size: larger;
    color:goldenrod
}
.text4{
    font-size: medium;
    color:goldenrod
}
.background4{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(bg2.png);
    font-style: oblique;
    
}
.main2{
    padding-bottom: 2em;
    box-shadow: 0 4px 8px 0 rgba(1,1,1,0.5);
  transition: 0.3s;
  width: 60em;
  /* height: 100vh; */
  margin: 0 auto;
  
  
  background-color:rgba(1,1,1,0.8) ;
  
}
.text5{
    font-size: medium;
    color:goldenrod;
}
.submit{
    font-size: medium;
    background-color: gold !important;
    color: white ;
    width: 10em;
    border-color: gold;

}
.footer{
    
    font-size: smaller;
}